<html>
	<head>
		<title>Chart</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
		<script type="text/javascript">

       	$(document).ready(function(){
            drawValuePriceChart();

            $('#viti-select').change(function(){
                drawValuePriceChart();
            })
        });

		function drawValuePriceChart(){
            var year = $('#viti-select').val();
            var pathname = window.location.pathname;
            var url = 'http://127.0.0.1:5000'+ pathname +'/monthly-summary/' + year;

            $.get(url, function(jsonResult){

              var data = new google.visualization.DataTable();
              data.addColumn('string', 'Muaji');
              data.addColumn('number', 'Vlera');
              data.addColumn('number', 'Cmimi');

              var monthArray = ["Janar", "Shkurt", "Mars", "Prill", "Maj", "Qershor", "Korrik",
              "Gusht","Shtator","Tetor","Nëntor","Dhjetor"];

              for ( var key in jsonResult){
                var monthIndex = jsonResult[key].muaji - 1;
                var month = monthArray[monthIndex];

                data.addRow([month, jsonResult[key].vlera, jsonResult[key].qmimi]);
              }

             

              var options = {
                  'title': "Vlera dhe cmimi i kontratave",
                  'vAxis': {
                    'title': "Vlera dhe Cmimi"
                  },
                  'hAxis': {
                    'title': "Muaji"
                  }
                };

                 var formatter = new google.visualization.NumberFormat({
                      fractionDigits: 0,
                      prefix: '€'
                  });
                 for(var i=1; i <= 2; i++){
                    formatter.format(data, i);
                  }

              var chart = new google.visualization.LineChart(document.getElementById("linechart-vlera-cmimi"));

              chart.draw(data, options);
            })
          }
		</script>
		
	</head>
	<body>
	
		<div id="select" style="margin-left:500px;">
      		<label>Viti</label>
    		<select id="viti-select" style="width:80px; height:30px;">
      			<option selected="selected" value="2011">2011</option>
		      	<option value="2012">2012</option>
		     	<option value="2013">2013</option>
   			 </select>
    	</div>
    	<div id="linechart-vlera-cmimi" style="height:500px; width: 950px;">
    </div>
	</body>
</html>